@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700&subset=latin-ext');
$orange-dark: #fe8b00;
$orange-light: #ffe3c1;

body, html {
    height: 100%;
    padding:0;
    margin:0;

    background: $orange-light; 
    }
body {

    height: 100%;
}
